<body>
    <div class="container">
        <div class="row justify-content-center" style="margin: 0px;">
            <div class="form-block center-block light-gray-bg2 border-clear">
                <div class="card">
                    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                        <h3 class="text-center">Welcome, enter your username and password</h3>
                        <div class="col-lg-11 mx-auto pt-2">
                        
                            <div class="form-group">
                                <input type="text" class="form-control" [ngClass]="{ 'has-error': f.submitted && !username.valid }" 
                                [(ngModel)]="form.user" id="username" name="username" #username="ngModel" required placeholder="Username">
                                <div *ngIf="f.submitted && !username.valid" class="help-block text-danger">Required field</div>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="form.password" [ngClass]="{ 'has-error': f.submitted && !username.valid }"
                                id="password" name="password" #password="ngModel" required placeholder="Password">
                                <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Required field</div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12 text-center">
                                    <button type="submit" mat-flat-button color="primary" >Login</button>
                                </div>
                                <div *ngIf="incorrectPassword" class="help-block text-danger">Wrong password</div>
                                <div *ngIf="notFoundUser" class="help-block text-danger">User not found</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</body>