.form-group {
    max-width: 300px !important;
    margin-bottom: 10px;
}

.text-danger {
    font-weight: bold;
}

.card {
    width: 400px;
    padding: 1rem;
    justify-content: center;
    flex-direction: row;
    background: rgba(248, 248, 248, 0.8)
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    vertical-align:middle;
    padding-top: 10%;
}
body{
    background: url(../../assets/images/fullscreen-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 767px) {
    .card {
        max-width: 320px;
    }
}
