<body class="fixed-sn">
    <main class="pt-3">
        <div class=" container container-fluid">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h5 class="my-2">{{criptoName}} - ${{this.pricePerUnity}}</h5>
                        </div>
                        <div class="card-body">
                            <div class="float-left pl-4">
                                <div class="text-center">
                                    <img [src]="this.iconUrl" width="180px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-4">
                    <div class="card card-table">
                        <div class="card-body pt-1">
                            <div class="table-responsive">
                                <table  class="table  mb-0">
                                    <!--<thead class="">
                                        <tr>
                                            <th>Cripto</th>
                                            <th>Volumen Diario</th>
                                            <th>Website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of exchangeObjectList">
                                            <td>{{item.exchange_id}}</td>
                                            <td>{{item.volume_1day_usd}}</td>
                                            <td>{{item.website}}</td>
                                        </tr>
                                    </tbody>-->
                                    <thead style="color: #c2185b">
                                        <tr>
                                            <th></th>
                                            <th>Exchange</th>
                                            <th>Comisión</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody class="buyTable">
                                        <tr>
                                            <td>Elegí tu Exchange:</td>
                                            <td>
                                                <mat-select style="width: 120px;" class="form-select ng-pristine ng-valid ng-touched" [(ngModel)]="selectValue" (ngModelChange)="getTotalPrice(selectValue)">
                                                    <mat-option *ngFor="let item of exchangeObjectList" [value]="item">
                                                    {{item.exchange_id}}
                                                    </mat-option>
                                                </mat-select>
                                            </td>
                                            <td>{{this.exchange_selected.commission}}%</td>
                                            <td>{{this.commissionValue}}</td>
                                        </tr>
                                    </tbody>
                                    <thead style="color: #c2185b">
                                        <tr>
                                            <th></th>
                                            <th>Cantidad</th>
                                            <th>Precio unitario</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody class="buyTable">
                                        <tr>
                                            <td>Ingrese la cantidad:</td>
                                            <td>
                                                <input type="number" [(ngModel)]="quantity" (ngModelChange)="getTotalPrice(selectValue)" id="typeNumber" placeholder="Cantidad" class="form-control unityInput"/>
                                            </td>
                                            <td>${{this.pricePerUnity}}</td>
                                            <td><span *ngIf=showPrice>${{this.price}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-header bg-dark text-white">
                            <tbody class="buyTable">
                                <tr>
                                    <td><button (click)='openDialog(0.25)' mat-raised-button [disabled]="!showTotalPrice" color="primary">Comprar</button></td>
                                    <td class="text-end" *ngIf=showTotalPrice>Precio Total:	<strong style="color: #c2185b;">${{this.total}}</strong></td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="width: 33%;" class=" mb-4 text-center"
                    *ngFor="let item of exchangeObjectList">
                    <a style="cursor: pointer;" (click)="openDialog(item.commission)"><img [src]="item.url" width="100px"></a>
                    <h4>{{item.exchange_id}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="card">
                        <div class="card card-table">
                            <div class="card-header">
                                <h5 class="my-2">Simple Table</h5>
                            </div>
                            <div class="card-body pt-1">
                                <div class="table-responsive">
                                    <table class="table  mb-0">
                                        <thead class="">
                                            <tr>
                                                <th>Exchange</th>
                                                <th>Volumen Diario</th>
                                                <th>Website</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let item of exchangeObjectList">
                                                <td>{{item.exchange_id}}</td>
                                                <td>{{item.volume_1day_usd}}</td>
                                                <td>{{item.website}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="my-2">Simple Table</h5>
                        </div>
                        <div class="card-body pl-0 pr-2 pb-0">
                            <div class="float-left white-text pl-4">
                                <div style="display: block" *ngIf="showPolarChartVolume">
                                    <canvas baseChart
                                    [data]="polarAreaChartData"
                                    [labels]="polarAreaChartLabels"
                                    [legend]="polarAreaLegend"
                                    [chartType]="polarAreaChartType">
                                    </canvas>
                                </div>
                            </div>
                            <p class="description-chart mt-4 mb-0 text-center">(LOS NUMEROS ESTAN EXPRESADOS EN MILES DE MILLONES)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>