<body class="fixed-sn">
    <main class="pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 mb-4" *ngFor="let item of exchangeIconList">
                    <img [src]="item">
                </div>
                <button mat-raised-button (click)="openDialog()">Pick one</button>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body pl-0 pr-2 pb-0">
                            <div class="float-left white-text pl-4">
                                <p class="font-weight-light mb-1 mt-n1 text-white-50 font-small">Total Shipments</p>
                                <h2 class="font-weight-light">Performance</h2>
                                <div style="display: block" *ngIf="showPolarChartVolume">
                                    <canvas baseChart
                                    [data]="polarAreaChartData"
                                    [labels]="polarAreaChartLabels"
                                    [legend]="polarAreaLegend"
                                    [chartType]="polarAreaChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card card-table">
                        <div class="card-header">
                            <h5 class="my-2">Simple Table</h5>
                        </div>
                        <div class="card-body pt-1">
                            <div class="table-responsive">
                                <table class="table  mb-0">
                                    <thead class="">
                                        <tr>
                                            <th>Exchange</th>
                                            <th>Volumen Diario</th>
                                            <th>Website</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of exchangeObjectList">
                                            <td>{{item.exchange_id}}</td>
                                            <td>{{item.volume_1day_usd}}</td>
                                            <td>{{item.Website}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>