<body class="fixed-sn">
    <main class="pt-3">
        <div class="container-fluid">
            <div class="row">
                <div style="width: 20%;" class=" mb-4 text-center"
                    *ngFor="let item of criptoIconList">
                    <a routerLink="/cripto-dashboard" [queryParams]="{ criptoName: item.asset_id, iconUrl: item.url}">
                        <img [src]="item.url" width="50px">
                    </a>
                    <h4>{{item.asset_id}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h5 class="my-2">Monthly market volume </h5>
                        </div>
                        <div class="card-body pl-0 pr-2 pb-0">
                            <div class="float-left white-text pl-4">
                                <div style="display: block" *ngIf="showPolarChartVolume">
                                    <canvas baseChart
                                    [data]="polarAreaChartData"
                                    [labels]="polarAreaChartLabels"
                                    [legend]="polarAreaLegend"
                                    [chartType]="polarAreaChartType">
                                    </canvas>
                                </div>
                            </div>
                            <p class="description-chart mt-4 mb-0 text-center">(THE NUMBERS ARE EXPRESSED IN BILLIONS)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card card-table">
                        <div class="card-header bg-dark text-white">
                            <h5 class="my-2">Data table</h5>
                        </div>
                        <div class="card-body pt-1">
                            <div class="table-responsive">
                                <table class="table  mb-0">
                                    <thead style="color: #c2185b">
                                    <tr>
                                        <th>Cripto</th>
                                        <th>Daily Volume</th>
                                        <th class="text-center">Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of criptoObjectList">
                                        <td>{{item.name}}</td>
                                        <td>{{item.volume_1day_usd}}</td>
                                        <td class="text-center" type="number" maxlength="10">$ {{item.price_usd}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>